<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset = "utf-8" />
    <title>NOISE</title>
    <link rel="stylesheet" type="text/css" href="/public/css/noise.css"/>
    <script type="text/javascript" src ="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script type="text/javascript" src ="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src ="http://cwilso.github.io/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js"></script>
    <script type="text/javascript" src ="/public/js/pitchdetect.js"></script>
    <script type="text/javascript" src ="/public/js/withu.js"></script>
    <script type="text/javascript" src ="http://karenlabs.com/lib/p5.js"></script>
    <script type="text/javascript" src ="/public/js/main.js"></script>
    <script type="text/javascript" src ="/public/js/mash.js"></script>
  </head>
  <body>
    <h1>NOISE</h1>
    <div id="intro">
      <p>JUMP&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbspYour voice's pitch </p>
      <p>LEFT / RIGHT&nbsp:&nbsp' < '&nbsp' > '</p>
      <p>SHOOT&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbsp' Space ' and your volume</p>
      <button id="ok">Play with your friend!</button>
    </div>
    <div id="word">
      Your ID &nbsp&nbsp&nbsp&nbsp&nbsp: <span id="pid"></span><br><br>
      Connect to : <input type="text" id="rid" placeholder="Your friend's ID">
                       <input type="button" value="Connect" id="connect"><br><br>
    </div>
  </body>
  <script type="text/javascript">
    $("#ok").click(function () {
      $("#word").show();
      $("#intro").hide();
    });
  </script>
  <audio autoplay id="somebodyVoice"></audio>
</html>
