<!DOCTYPE html>
<html lang = "en">
  <head>
  <meta charset = "utf-8" />
  <meta property="og:title" content="NOISEE"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://noisee.karenlabs.com/"/>
  <meta property="og:image" content="http://noisy-jelly.herokuapp.com/public/image/noiseefb.jpg"/>
  <meta property="og:site_name" content="NOISEE"/>
  <meta property="og:description" content="Two-player voice control game. Watch out your crazy sound!"/>
  <link rel="stylesheet" type="text/css" href="/public/css/noise.css"/>
  <script type="text/javascript" src ="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
  </head>
  <body>
    <h1>NOISE</h1>
    <div id="intro">
      <p>Your Pitch &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: Jump</p>
      <p>Space + Your Volume : Shoot</p>
      <p>◀ ▶ &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: Walk</p>
      <button id="ok">Play with friend!</button>
    </div>
    <div id="word">
      Your ID : <span id="pid"></span>
      <input type="text" id="rid" placeholder="Your friend's ID">
      <input type="button" value="Connect" id="connect">
    </div>
    <p id="countDown">Better Use <img id="headphone" src ="/public/image/headphone.png"/>
    </p>
    <a id="forkNoisee" target="_blank" href="https://github.com/karenpeng/noisee"><img id="fork" src="/public/image/fork20.png"></a>
    <div id="cover"></div>
    <div id="wrap">
      <p id="win">YOU WIN!</p>
      <p id="lose">YOU LOSE!</p>
      <p id="again">Play Again</p>
    </div>
    <audio autoplay id="somebodyVoice"></audio>
  </body>
  <script type="text/javascript">
    $("#cover").hide();
    $("#again").hide();
    $("#win").hide();
    $("#lose").hide();
    $("#word").hide();
    $("#countDown").hide();
    $("#ok").click(function () {
      $("#word").show();
      $("#intro").hide();
    });
  </script>
  <script type="text/javascript" src ="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.2.13/p5.min.js"></script>
  <script type="text/javascript" src="/public/js/PVector.js"></script>
  <script type="text/javascript" src ="http://cwilso.github.io/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js"></script>
  <script type="text/javascript" src ="/public/js/pitchdetect.js"></script>
  <script type="text/javascript" src ="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.min.js"></script>
  <script type="text/javascript" src ="/public/js/withu.js"></script>
  <script type="text/javascript" src ="/public/js/mash.js"></script>
  <script type="text/javascript" src ="/public/js/main.js"></script>
  <script type="text/javascript">stLight.options({publisher: "a757c337-8e36-4e28-8032-c8b58ff79d08", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  <script>
  var options={ "publisher": "a757c337-8e36-4e28-8032-c8b58ff79d08", "position": "right", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "googleplus", "email", "sharethis"]}};
  var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48873153-1', 'karenlabs.com');
  ga('send', 'pageview');
  </script>
</html>
