<html>
<head>
  <title>NOISEE</title>
  <meta charset = "utf-8" />
  <meta property="og:title" content="NOISEE"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://noisee.karenlabs.com"/>
  <meta property="og:image" content="http://noisy-jelly.herokuapp.com/public/image/noiseefb.jpg"/>
  <meta property="og:site_name" content="NOISEE"/>
  <meta property="og:description" content="Two-player voice control game"/>
  <link rel="shortcut icon" type="/public/image/x-icon" href="/public/image/favicon.ico"/>
</head>
<body>
 <%- locals.body %>
</body>
</html>
