html, body{
  margin: 0;
  padding: 0;
  background-color: #222;
  font-family: Arial, sans-serif;
}
h1{
  color: white;
  width: 100px;
  height:40px;
  margin: 10px auto;
}
canvas{
  margin-top: 50px;
}
#intro{
  display: block;
  width: 460px;
  margin: 640px auto 20px auto;
  color: white;
  font-size: 14px;
}
#word{
  color: white;
  width: 270px;
  margin: 10px auto;
}