html, body{
  margin: 0;
  padding: 0;
  background-color: #222;
  font-family: Arial, sans-serif;
}
body{
  position: relative;
}
h1{
  color: white;
  width: 100px;
  height:40px;
  margin: 10px auto;
}
canvas{
  margin-top: 46px;
  border: 1px black;
}
#intro{
  z-index: 2;
  position:absolute;
  width: 200px;
  padding: 0 30px 10px 30px;
  left: -10px;
  top: 100px;
  color: white;
  background-color: rgb(22, 198, 31);
  opacity: 0.7;
  font-size: 14px;
}
#ok{
  font-size: 14px;
  color: green;
  margin: 0 0 6px 60px;
  background-color: white;
  cursor: pointer;
}
#pid{
  font-size:18px;
  display: block;
  margin:10px 0;
}
#rid{
  width:146px;
}
#connect{
  font-size: 14px;
  width:80px;
  color: green;
  margin-top: 10px;
  background-color: white;
  cursor: pointer;
}
#word{
  z-index: 2;
  position:absolute;
  width: 170px;
  padding: 20px 20px 10px 30px;
  left: -10px;
  top: 100px;
  color: white;
  background-color: rgb(22, 198, 31);
  opacity: 0.7;
  font-size: 14px;
}
#countDown{
  z-index: 2;
  position:absolute;
  width: 160px;
  left: 50%;
  margin-left: -80px;
  top: 200px;
  color: black;
  font-size: 18px;
}
#fork{
  position: absolute;
  z-index: 2;
  top:0;
  right:0;
  margin-top: -40px;
  margin-right: -48px;
}